@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Compagny Name<br />
    Owner name<br />
    Street adress<br />
    City and zip code<br />
    <abbr title="Téléphone">T:</abbr> <a href="tel:+000000000">000 00 00 00</a><br />
    <abbr title="Portable">M:</abbr> <a href="tel:+111111111">111 11 11 11</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a>
</address>